@import 'lib/vendor-prefix.less';

.wrap {
  position: relative;
  background: url(/img/debut_dark.png);
  overflow: hidden;
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity 2s;
  -moz-transition: opacity 2s;
  -webkit-transition: opacity 2s;

  .imgbg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 0;
    background: #fff;
  }
}

.selector {
  list-style: none;
  margin: 0;
  padding: 0;

  .preview {
    position: relative;
    display: inline-block;
    margin: 10px;

    h1 {
      font-size: 1em;
      margin: 0;
      background: #444;
      color: #fff;
      text-align: center;
    }

    .content {
      position: relative;
      width: 240px;
      height: 180px;
      border: 1px solid #555;
      background: url(/img/debut_dark.png);

      > i {
        .translate(-50%, -50%);
        .scale(2);
        .transform(translate(-50%, -50%) scale(2));

        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
      }

      &:hover {
        > i {
          color: #5B5;
          border-color: #5B5;
        }
      }

      iframe {
        .transform-origin(0 0);
        .scale(0.2);
        width: 500%;
        height: 500%;
        position: absolute;
        pointer-events: none;
      }
    }

    .click-target {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      cursor: pointer;
    }
  }
}

i {
  display: inline-block;
  font-family: Arial, sans-serif;

  &.add {
    color: #ABA;
    border: 4px solid #ABA;
    border-radius: 32px;
    width: 32px;
    height: 32px;
    font-size: 42px;
    line-height: 35px;
    text-align: center;
    font-weight: bold;

    &:before {
      content: "+";
      font-style: normal;
    }
  }

  &.hydra {
    color: #ABA;
    border: 6px solid #ABA;
    width: 32px;
    height: 32px;
    font-size: 68px;
    line-height: 40px;
    text-align: center;

    &:before {
      content: "+";
      position: absolute;
      top: -3px;
      left: -7px;
    }
  }
}
