@import 'nib';

.content {
  transition: opacity 2s;

  .imgbg {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  iframe {
    background: #fff;
    border: 0;
    overflow: hidden;
  }
}

.overlay {
  background: url(/img/debut_dark.png);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;

  .content {
    height: calc(100% \- 3em);
    width: 100%;

    iframe {
      height: 100%;
      width: 100%;
    }
  }

  .meta {
    background: #000;
    color: #fff;
    font-size: 2em;
    line-height: 1em;
    padding: 0.25em;
    vertical-align: middle;
    word-wrap: break-word;

    span:not(:first-child) {
      border-left: 1px solid #fff;
      margin-left: 0.5em;
      padding-left: 0.5em;

      &.url {
        font-size: 0.5em;
      }
    }
  }
}

.selectors {
  list-style: none;
  margin: 0;
  padding: 0;

  .preview {
    display: inline-block;
    margin: 10px;
    position: relative;

    h2 {
      background: #444;
      color: #fff;
      font-size: 1em;
      margin: 0;
      text-align: center;

      button.close {
        float: right;
      }
    }

    .content {
      background: url(/img/debut_dark.png);
      border: 1px solid #555;
      height: 180px;
      position: relative;
      width: 240px;

      > i {
        display: block;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) scale(2);
      }

      &:hover {
        > i {
          border-color: #5B5;
          color: #5B5;
        }
      }

      iframe {
        bottom: 0;
        height: 500%;
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        transform-origin: 0 0;
        transform: scale(0.2);
        width: 500%;
      }
    }

    .click-target {
      absolute: top left;
      cursor: pointer;
      height: 100%;
      width: 100%;
      z-index: 10;
    }
  }
}

i {
  display: inline-block;
  font-family: Arial, sans-serif;

  &.add {
    border-radius: 32px;
    border: 4px solid #ABA;
    color: #ABA;
    font-size: 42px;
    font-weight: bold;
    height: 32px;
    line-height: 35px;
    text-align: center;
    width: 32px;

    &:before {
      content: "+";
      font-style: normal;
    }
  }

  &.hydra {
    border: 6px solid #ABA;
    color: #ABA;
    font-size: 68px;
    height: 32px;
    line-height: 40px;
    text-align: center;
    width: 32px;

    &:before {
      absolute: top -3px left -7px;
      content: "+";
    }
  }
}

button.close {
  color: #f00;
  cursor: pointer;
}

#connection-status {
  background: #000;
  color: #fff;
  fixed: bottom 10px right 10px;
  font-size: 1.2em;
  opacity: 0.99;
  padding: 5px;
  z-index: 3;
}
